#!/bin/sh

cd `dirname $0`

ROOT_PATH=`pwd`

JAVA_HOME="/opt/jdk-1.7.0"
export JAVA_HOME

"$M2_HOME"/bin/mvn -U -f "$ROOT_PATH"/pom.xml -P develop-mypivot -DskipTests=true clean eclipse:clean eclipse:eclipse package
