#!/bin/sh

cd `dirname $0`

ROOT_PATH=`pwd`

JAVA_HOME="/opt/jdk-1.7.0"
export JAVA_HOME

"$M2_HOME"/bin/mvn -o -f "$ROOT_PATH"/pom.xml -DskipTests=true --batch-mode release:clean release:prepare release:clean
