<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Regione Toscana</display-name>
  <servlet>
    <display-name>PagamentiTelematiciCCP</display-name>
    <servlet-name>PagamentiTelematiciCCP</servlet-name>
    <servlet-class>it.tasgroup.iris.paymentws.ccp.impl.PagamentiTelematiciCCPImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagamentiTelematiciCCP</servlet-name>
    <url-pattern>/PagamentiTelematiciCCP</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PagamentiTelematiciRT</display-name>
    <servlet-name>PagamentiTelematiciRT</servlet-name>
    <servlet-class>it.gov.spcoop.nodopagamentispc.servizi.pagamentitelematicirt.impl.PagamentiTelematiciRTImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagamentiTelematiciRT</servlet-name>
    <url-pattern>/PagamentiTelematiciRT</url-pattern>
  </servlet-mapping>
</web-app>
